{% extends 'base.twig' %}

{% block title %}Friend Requests{% endblock %}

{% block content %}
<div class="friend-requests">
    <h3>Friend Requests</h3>
        <p> Here you can see your pending friend requests:</p>
        <table class="request">
        <tr>
            <td class="title"><b>Username</b></td>
            <td> </td>
        </tr>
        {% for req in friend_requests %}
        <tr>
            <form method="POST" action="/user/friendRequests/accept/{{ req.request_id }}">
                <td>{{ req.requester_username }}</td>
                <td><input type="hidden" name="username" value={{ req.requester_username }} />
                <button type="submit" class="accept-button">Accept</button></td>
            </form>
        </tr>
        {% endfor %}
    
        </table>
        <p><a href='/user/friends'> See friend list </a></p>
        <p><a href='/user/friendRequests/send'> Make a friend request </a></p>
        <p><a href='/profile/'> Your profile </a></p>

        {% if formErrors.get %}
            <p style="color: red;">{{ formErrors.get }}</p>
        {% endif %}
</div>

{% endblock %}