{% extends 'base.twig' %}

{% block title %}Registration Succesful{% endblock %}

{% block content %}
    <h2>The registration has been succesful. We've sent you an email. Please activate your account.</h2>
{% endblock %}