{% extends 'base.twig' %}

{% block title %}Search form{% endblock %}

{% block content %}
Search Form
    <form action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">

        Search: <input type="text"
               name="search"
               value="{% if formData.search %}{{ formData.search }}{% endif %}">

        <input type="submit" value="Send">

        {% if formErrors.search %}
            <p style="color: red;">{{ formErrors.search }}</p>
        {% endif %}
    </form>
{% endblock %}